# OS Metadata
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Local Logs
*.log
npm-debug.log*

# Mac specific
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.Trashes
